.blue-square {
    background-color: #4eb1eb;
    border: 5px solid white; 
    height: 100px;
    width: 100px;
    animation: colored 3s steps(4, end) alternate infinite;       
}


@keyframes colored {
0% {
  transform: translateX(-30%);
}

20% {
  transform: translateX(30%);
  background-color: red;
}

80% {
  transform: translateX(-30%);
  background-color: green;
}

100% {
  background-color: blueviolet;
  transform: translateX(30%);
}
}